/* Сброс стандартных стилей */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
}

header {
    background-color: #333;
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.logo {
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    padding: 0 15px;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s ease;
}

.menu a:hover {
    color: #c0a16b;
}

.menu-toggle {
    display: none; /* По умолчанию скрыта, будет показана на мобильных устройствах */
    cursor: pointer;
}

.menu-toggle .bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
    transition: all 0.3s ease;
}

.product-category {
    padding: 60px 20px;
    text-align: center;
}

/* Стили для слайдера */
.slider img {
    width: 100%;
    display: block;
}

/* Стили для футера */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
