// src/pages/Home.css
.category {
  margin-top: 100px; /* Отступ, чтобы контент не перекрывался шапкой */
  padding: 2rem;
}

.home {
  padding-top: 60px; /* Отступ для всей страницы, чтобы контент не перекрывался шапкой */
}