.header {
    background-color: #8B4513; 
    color: #FFF8DC; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
  }
  
  .logo {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .menu-icon {
    font-size: 2rem;
    cursor: pointer;
  }
  
  .menu {
    display: none; /* скрыто по умолчанию, будет показано при клике на иконку меню */
  }
  
  .navigation a {
    color: #FFF8DC; /* цвет ореха */
    text-decoration: none;
    margin-left: 2rem;
  }
  
  .navigation a:hover {
    text-decoration: underline;
  }
  
  @media (min-width: 768px) {
    .menu {
      display: block; /* показать меню на больших экранах */
    }
  
    .menu-icon {
      display: none; /* скрыть иконку меню на больших экранах */
    }
  }